<!doctype html>
<html lang="en" ng-app="mdoClient">
<head>
  <meta charset="UTF-8" />
  <title>MDO</title>
  <link rel="stylesheet" href="/foundation.min.css" />
  <link rel="stylesheet" href="/style.css" />
</head>
<body ng-controller="mdoController">
  
  <div class="progress progress-custom">
    <span class="meter" style="width: {{ counter / 5 * 100 }}%"></span>
  </div>
  
  <div class="row">
    <div class="large-4 columns text-left">
      <span class="label">
        {{ thisPlayerId }}
      </span>
      <span class="label secondary">
        you
      </span>
    </div>
    <div class="large-4 columns text-center">
      <strong>
        {{ duelState }}
      </strong>
    </div>
    <div class="large-4 columns text-right">
      <span class="label secondary">
        opponent
      </span>
      <span class="label alert">
        {{ opponentPlayerId }}
      </span>
    </div>
  </div>
  
  <div class="row">
    <div class="large-4 columns text-left">
      <h2>
        {{ thisPlayer.hp }} HP
      </h2>
    </div>
    <div class="large-4 columns text-center" ng-if="nRound">
      <strong>
        {{ nRound }}
      </strong>
    </div>
    <div class="large-4 columns text-right">
      <h2>
        {{ opponentPlayer.hp }} HP
      </h2>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns text-center">
      <p>
        {{ castSpell }} 
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="large-8 large-push-2 columns">
      <div data-alert class="alert-box warning text-center">
        Round calculation here
      </div>
    </div>
  </div>
  
  <div class="row" ng-if="result">
    <div class="large-8 large-push-2 columns">
      <div data-alert class="alert-box success text-center">
        {{ result }}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="large-6 columns">
      <button class="tiny button spell-button" ng-repeat="skill in thisPlayer.skills" ng-click="nextSpell(skill)">{{ skill }}</button>
    </div>
    
    <div class="large-6 columns">
      <div class="panel">
        <div ng-repeat="log in logs">
          <small>
            {{ log }}
          </small>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <dic class="large-12 columns">
      <div class="secondary label">
        Duel id: {{ duelId }}
      </div>
    </dic>
  </div>
  
  <script src="/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/underscore-min.js"></script>
  <script src="/app.js"></script>
  <script src="/services.js"></script>
  <script src="/client.js"></script>
  <script src="/filters.js"></script>
  <script src="/directives.js"></script>
</body>
</html>