<!doctype html>
<html lang="en" ng-app="mdoClient">
<head>
  <meta charset="UTF-8" />
  <title>MDO</title>
  <link rel="stylesheet" href="/foundation.min.css" />
  <link rel="stylesheet" href="/style.css" />
</head>
<body ng-controller="mdoController" ng-cloak>
  
  <div id="progress-bar" class="progress progress-custom">
    <span class="meter" style="width: {{ counter / 5 * 100 }}%"></span>
  </div>
  
  <div id="upper-first-panel" class="row">
    <div class="medium-4 columns text-left">
      <span class="label secondary">
        {{ thisPlayerId }}
      </span>
      <span class="label">
        you
      </span>
    </div>
    <div class="medium-4 columns text-center">
      <strong>
        {{ duelState }}
      </strong>
    </div>
    <div class="medium-4 columns text-right">
      <span class="label">
        opponent
      </span>
      <span class="label secondary">
        {{ opponentPlayerId }}
      </span>
    </div>
  </div>
  
  <div id="upper-second-panel" class="row">
    <div class="medium-4 columns text-left">
      <h2>
        {{ thisPlayer.hp }} HP <small class="text-alert" ng-if="thisPlayer.totalDamageRecive">-{{ thisPlayer.totalDamageRecive }}</small> <small class="text-ligth" ng-if="thisPlayer.totalSpellCost">-{{ thisPlayer.totalSpellCost }}</small>
      </h2>
    </div>
    <div class="medium-4 columns text-center" ng-if="nRound">
      <strong>
        {{ nRound }}
      </strong>
    </div>
    <div class="medium-4 columns text-right">
      <h2>
        <small class="text-alert" ng-if="opponentPlayer.totalDamageRecive">-{{ opponentPlayer.totalDamageRecive }}</small> <small class="text-ligth" ng-if="opponentPlayer.totalSpellCost">-{{ opponentPlayer.totalSpellCost }}</small> {{ opponentPlayer.hp }} HP
      </h2>
    </div>
  </div>
  
  <div id="info-panel" class="row">
    <div class="medium-8 medium-centered columns">
      <div data-alert class="alert-box secondary text-center" ng-if="!result && !castSpell">
        Round calculation here
      </div>
      <div data-alert class="alert-box warning text-center" ng-if="!result && castSpell">
        {{ castSpell }}
      </div>
      <div data-alert class="alert-box success text-center" ng-if="result">
        {{ result }}
      </div>
    </div>
  </div>
  
  <div id="footer" class="row">
    <div class="medium-6 columns">
      <button class="tiny button spell-button" ng-repeat="skill in thisPlayer.skills" ng-click="nextSpell(skill)">{{ skill }}</button>
    </div>

    <div class="medium-6 columns">
      <div id="log" class="panel">
        <div ng-repeat="log in logs">
          <small>
            {{ log }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div id="under-footer" class="row">
    <dic class="medium-12 columns text-center">
      <div class="secondary label">
        Duel id: {{ duelId }}
      </div>
    </dic>
  </div>
  
  <script src="/underscore-min.js"></script>
  <script src="/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/app.js"></script>
  <script src="/services.js"></script>
  <script src="/client.js"></script>
  <script src="/filters.js"></script>
  <script src="/directives.js"></script>
</body>
</html>