#progress-bar {
  height: 5px;
  padding: 0px;
  margin-bottom: 35px;
}

#upper-first-panel {
  height: 22px;
}

#upper-second-panel {
  height: 63px;
}

#info-panel {
  height: 150px;
  padding-top: 30px;
}

#footer {
  height: 300px;
}

#log {
  height: 280px;
}

#under-footer {
  height: 25px;
}

#mask {
  background: #ffffff;
  opacity: 1;
  margin-top: 40px;
  text-align: center;
}

/**
 * My customization for Foundation framework
 */

.spell-button {
  margin-bottom: 0px;
}

.progress-custom {
  background-color: #f6f6f6;
  border: none;
}