/**
 * Duel layout style
 */

#progress-bar {
  height: 5px;
  padding: 0px;
  margin-bottom: 35px;
}

#upper-first-panel {
  height: 22px;
}

#upper-second-panel {
  height: 63px;
}

#info-panel {
  height: 150px;
  padding-top: 30px;
}

#footer {
  height: 300px;
}

#log {
  height: 280px;
}

#under-footer {
  height: 25px;
}



/**
 * Specific angular style
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



/**
 * My customization for Foundation framework
 */

button.button-selected, .button.button-selected {
  background-color: #f08a24;
  border-color: #de770f;
  color: white; }
  button.button-selected:hover, button.button-selected:focus, .button.button-selected:hover, .button.button-selected:focus {
    background-color: #f08a24; }
  button.button-selected:hover, button.button-selected:focus, .button.button-selected:hover, .button.button-selected:focus {
    color: white; }

.text-alert {
  color: #f04124;
}

.text-ligth {
  color: #a0d3e8;
}

.spell-button {
  margin-bottom: 0px;
}

.progress-custom {
  background-color: #f6f6f6;
  border: none;
}